{% extends 'base_goods.html' %}
{% block body %}

	<div class="navbar_con">
		<div class="navbar clearfix">
			<div class="subnav_con fl">
				<h1>全部商品分类</h1>	
				<span></span>			
				<ul class="subnav">
					<li><a href="/goods/list/1_1_0" class="fruit">新鲜水果</a></li>
					<li><a href="/goods/list/2_1_0" class="seafood">海鲜水产</a></li>
					<li><a href="/goods/list/3_1_0" class="meet">猪牛羊肉</a></li>
					<li><a href="/goods/list/4_1_0" class="egg">禽类蛋品</a></li>
					<li><a href="/goods/list/5_1_0" class="vegetables">新鲜蔬菜</a></li>
					<li><a href="/goods/list/6_1_0" class="ice">速冻食品</a></li>
				</ul>
			</div>
			<ul class="navlist fl">
				<li><a href="/goods/index/">首页</a></li>
				<li class="interval">|</li>
				<li><a href="#">手机生鲜</a></li>
				<li class="interval">|</li>
				<li><a href="#">抽奖</a></li>
			</ul>
		</div>
	</div>

	<div class="breadcrumb">
		<a href="#">全部分类</a>
		<span>></span>
		<a href="#">新鲜水果</a>
		<span>></span>
		<a href="#">商品详情</a>
	</div>

	<div class="goods_detail_con clearfix">
		<div class="goods_detail_pic fl"><img src="/static/{{ gImage }}"></div>

		<div class="goods_detail_list fr">
			<h3>{{ gtitle }}</h3>
			<p>{{ gdescriptioni }}</p>
			<div class="prize_bar">
				<span class="show_pirze">¥<em>{{ gprice }}</em></span>
				<span class="show_unit">单  位：{{ gunit }}</span>
			</div>
            <script>
function add() {
    {#alert('dafsdf');#}
    num = parseFloat($('.num_show').val());
    $('.num_show').val(num+1);
    $('.num_show').blur();
}
function minus() {
    num = parseFloat($('.num_show').val());
    $('.num_show').val(num-1);
    $('.num_show').blur();
}
$(function () {
   $('.num_show').blur(function () {
      num = parseFloat($('.num_show').val());
      price = parseFloat($('#gprice').text());
      total = num*price;
      $('#gprice').text(total.toFixed(2)+'元');
   });
});
</script>
			<div class="goods_num clearfix">
				<div class="num_name fl">数 量：</div>
				<div class="num_add fl">
					<input type="text" class="num_show fl" value="1">
					<a href="javascript:;" class="add fr" onclick="add()">+</a>
					<a href="javascript:;" class="minus fr" onclick="minus()">-</a>
				</div> 
			</div>
			<div class="total">总价：<em id="gprice">{{ gprice }}元</em></div>
			<div class="operate_btn">
				<a href="javascript:;" class="buy_btn">立即购买</a>
				<a href="javascript:;" class="add_cart" id="add_cart">加入购物车</a>				
			</div>
		</div>
	</div>

	<div class="main_wrap clearfix">
		<div class="l_wrap fl clearfix">
			<div class="new_goods">
				<h3>新品推荐</h3>
				<ul>
                    {% for g in newsinfo %}
					<li>
						<a href="/goods/detail/{{ g.id }}/"><img src="/static/{{ g.gImage }}"></a>
						<h4><a href="/goods/detail/{{ g.id }}/">{{ g.gtitle }}</a></h4>
						<div class="prize">￥{{ g.gprice }}</div>
					</li>
                    {% endfor %}
				</ul>
			</div>
		</div>

		<div class="r_wrap fr clearfix">
			<ul class="detail_tab clearfix">
				<li class="active">商品介绍</li>
				<li>评论</li>
			</ul>

			<div class="tab_content">
				<dl>
					<dt>商品详情：</dt>
					<dd>
                        {%autoescape off%}
                        {{ gcontent }}
                        {% endautoescape %}
                    </dd>
				</dl>
			</div>

		</div>
	</div>
{% endblock body %}